apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://otel-collector:8890
    uid: prometheus
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      queryTimeout: 60s
